@import './../../main-styles.scss';

.budget-items-section {
  display: flex;

  justify-content: center;
  align-items: center;

  .budget-items-container {
    display: flex;
    max-width: 680px;
    height: 100%;
    width: 100%;
    padding: 0 10px 0 10px;
    border-radius: 4px;
    border: .5px solid #e8e8e8;
    margin-top: 10px;

    .income-column, .expenses-column {
      display: flex;
      flex-direction: column;
      flex-basis: 0;
      flex-grow: 1;

      h1 {
        font-family: 'Lato';
        font-size: 24px;
        font-weight: 900;
        text-transform: uppercase;
        text-align: center;
      }

      .budget-items {
        display: flex;
        flex-direction: column;

        margin-bottom: 10px;
      }
    }

    .income-column {
      margin-right: 35px;

      h1 {
        color: $green;
      }
    }

    .expenses-column {
      h1 {
        color: $red;
      }
    }
  }
}